/* Common */
$stock-layout-width: 1920;

/*Colors*/
$primary-color: #76b926;

$text-primary-color: #37454a;
$text-60-color: #37454a99;

$sroke-color: #dfdfdf;

$green-color: #6EB744;
$dark-green-color: #62A53C;
