@import "./common/variables.scss";
@import "./common/functions.scss";


.separator {
  background-color: $sroke-color;

  &.vertical {
    width: 1px;
    padding: 0 0.5px;
  }

  &.horizontal {
    height: 1px;
    padding: 0.5px 0;
  }
}

.primary-color {
  color: $primary-color;
}

.container {
  max-width: calc-adapt(1320);
}
